
BaiLian_API_KEY=your_api_key_here
BaiLian_API_BASE=https://你的endpoint/compatible-mode/v1
# langsmith (可选，如果不使用langsmith可以删除以下配置)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=Your_langsmith_api_key_here
LANGSMITH_PROJECT=Your_langsmith_project_name_here
